<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <div id="top">
      <h1>Welcome to the tracking application!</h1>
    </div>
    <div id="instructions">
      <h2>Put your astronomical image set in Data/Raw</h2>
    </div>

    <div id="form" class="input">
      <form action="" method="post">
          {{ form.hidden_tag() }}
          <h4>Run Denoising {{form.denoise}}</h5>
          <br>
          <p>Check this box if you would like to run the denoising function. If it has
            already been run, uncheck it to save time.</p>
          <br>
          {{form.submit}}
      </form>
    </div>

</html>
