<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <body>

      <img src="static/images/Line_Detection/20190908_065834_PMI_19430_120sec_C_001_2458735.jpg", alt="Test failed"></img>

      <h2>Images containing lines will be displayed below</h2>

      {% if paths %}
        {% for path in paths %}
          <p>Path: {{path}}</p>
          <img src={{path}}, alt="Image failed to display"></img><br>
        {% endfor %}
      {% else %}
        <p>No lines detected!</p>
      {% endif %}


    </body>
</html>
